<h1>Registration</h1>
<form action="create_user" method="post">
	<input type="text" name="first_name" placeholder="First Name">
	<input type="text" name="last_name" placeholder="Last Name">
	<input type="email" name="email" placeholder="E-mail">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="confirm_password" placeholder="Confirm Password">
	<input type="Submit" value="Register">
</form>
<a href="/login">Log In</a>